/* navbar.css file  */
nav, ul{
    display: flex;
}

li{
    list-style: none;
}
ul{
    gap: 34px;
}

nav{
    background-color: beige;
    padding: 23px;
    color: #000;
    justify-content: space-between;
    padding: 6px 2rem;
    align-items: center;
}
nav img{
    width: 70px;
    border-radius: 100%;
}